# macOS
.DS_Store

# Xcode - archivos de usuario/estado y builds
xcuserdata/
*.xcuserstate
DerivedData/
build/

# Si usas workspaces, evita estados de usuario del workspace
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/cache/
# SÍ versiona Package.resolved para fijar versiones
#!Package.resolved
